<h1><%= @user.email  %></h1>
<h2>Backed projects</h2>
  <% @user.backed_projects.each do |proj| %>
    <%= proj.project.name %>
  <% end %>

<h3>Selected rewards</h3>
  <% @user.rewards.each do |reward| %>
    <%= reward.description %><br>
    <%= reward.amount %>
  <% end %>